/* Eigenes Custom Element */
my-element {
  color: black;
}

/* Erweitertes natives HTML-Element*/
[is="button-extended"] {
  color: black;
}

/* Unregistrierte Custom Elements */
:unresolved {
  display: none;
}
